/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 2px dashed green;
} */

/* ======== GLOBAL STYLES ======== */
.App{
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 0;
}

.theme-toggle {
  position: fixed;
  top: 1rem;
  right: 10rem;
}

.tab-navigation {
  margin-top: 1rem;
  /* border: 1px dashed red; */
  display: flex;
  justify-content: center;
}
.tab-navigation button {
  margin: 0 0.5rem;
  border-radius: 10px 10px 0px 0px;
  background-color: #e9bd2b;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.App-main {
  padding: 2rem;
  box-shadow: inset 0px 10px 10px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  max-height: 80vh;
}
/* ==================================== */

/* ======== LIGHT THEME ITEMS ======== */
.light .tab-navigation button {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.light .App-main {
  box-shadow: inset 0px 10px 10px 5px rgba(200, 200, 200, 0.5);
}
/* ==================================== */
